 body {
     padding: 100px;
     font-family: sans-serif;
 }
 
 .week {
     width: 100%;
     top: 115px;
     right: -1150px;
     position: fixed;
 }
 
 .text-muted {
     font-size: 13px;
 }
 
 span {
     transition: .5s;
     cursor: pointer;
 }